<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> NEW Categories </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div text-center>
    <ion-title>+ Prefer Categories</ion-title>
  </div>
  <br><br>

  <div *ngFor="let att of dataArray; let idx = index">

    <ion-grid>

      <ion-row>
        <ion-col col-3>
          <ion-label color="primary">Name</ion-label>
        </ion-col>

        <ion-col col-7>
          <ion-item>
            <ion-input type="text" [(ngModel)]="dataArray[idx].name"></ion-input>
          </ion-item>
        </ion-col>
  
        <ion-col col-2>
          <button ion-button *ngIf="idx!=0" (click)="removeField(idx)"  color="danger" round> <span style="color: black;"> - </span> </button>
        </ion-col>

      </ion-row>
  
    </ion-grid>

  </div>

  <br> 

  <div>
    <button ion-button [disabled]="!canAddField" (click)="addField()" color="secondary" round> <span style="color: black;"> + </span> </button>
  </div>

  <div text-center>

    <ion-grid>

      <ion-row>
          <ion-col>
            <button ion-button (click)="getCategories()"  round outline> getCategories </button> 
          </ion-col>
  
          <ion-col>
            <button ion-button color="secondary" (click)="onSubmit()" round> Submit </button>
          </ion-col>
      </ion-row>
  
    </ion-grid>

  </div>

</ion-content>
