<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> CATEGORIES </ion-title>
    <div text-end>
      <ion-label style="font-style: oblique;font-family: fantasy;">  {{today}} </ion-label>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div text-center>
    <ion-title style="font-style:inherit ;font-family: fantasy;"> Spending Categories</ion-title>
  </div>

  <br>

  <div *ngFor="let att of dataArray; let idx = index">

    <ion-grid>

      <ion-row>
        <ion-col col-3>
          <ion-label color="primary">Name</ion-label>
        </ion-col>

        <ion-col col-7>
          <ion-item>
            <ion-input type="text" [(ngModel)]="dataArray[idx].name" required></ion-input>
          </ion-item>
        </ion-col>
  
        <ion-col col-2>
          <button ion-button *ngIf="idx!=0" (click)="removeField(idx)"  color="danger" round icon-only> <ion-icon name="remove"></ion-icon> </button>
        </ion-col>

      </ion-row>
  
    </ion-grid>

  </div>

  <br> 

  <div>
    <button ion-button [disabled]="!canAddField" (click)="addField()" color="secondary" round icon-only> <ion-icon name="add"></ion-icon>  </button>
    <button ion-button color="light" (click)="clear()"  round > Clear </button> 
    <button ion-button (click)="onSubmit()" round style="position: absolute; right: 0;">  ADD </button>
  </div>

  <div>
    
  </div>

  <div >

    

  </div> 

  <!-- <div text-center>

    <ion-grid>

      <ion-row>
          <ion-col>
            <button ion-button color="light" (click)="clear()"  round > Clear </button> 
          </ion-col>
  
          <ion-col>
            <button ion-button (click)="onSubmit()" round > ADD </button>
          </ion-col>
      </ion-row>
  
    </ion-grid>

  </div>  -->

  <!-- <div text-center>

    <button ion-button color="secondary" (click)="getCategories()"  round icon-start> <ion-icon name="eye"></ion-icon> View Categories </button>

  </div> -->

  <br>
  <div>
    <ion-title> Categories </ion-title>
  </div>

  <div text-center>

    <ion-list> 

      <div ion-item *ngFor="let category of categoryList let idx = index" >

        <ion-grid>

          <ion-row>
            <ion-col col-2>

              <div icon-start>
                <ion-icon name="star-outline"></ion-icon>
                {{idx + 1}}
              </div>
                             
            </ion-col>
    
            <ion-col col-6>

                {{category.name}}
              
            </ion-col>

            <ion-col col-2>

              <button ion-button  style="background-color:darkorange;" (click)="presentPromptToEdit(category.id,category.name.toString())" round icon-only> <ion-icon name="create"></ion-icon> </button>
            
          </ion-col>
      
            <ion-col col-2>

                <button ion-button color="danger" (click)="presentConfirmToDelete(category.id,category.name.toString())" round icon-only> <ion-icon name="trash"></ion-icon> </button>
              
            </ion-col>
    
          </ion-row>
      
        </ion-grid>
        
      </div>

    </ion-list>

  </div>

</ion-content>
