<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> NEW SPENDING </ion-title>
    <div text-end>
      <ion-note>{{today}}</ion-note>
    </div>
    
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div text-center>
    <ion-title>+ Add Spending</ion-title>
  </div>
  <br><br>

  <div [formGroup]="expenditureForm">

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-input type='date' displayFormat="MMMM DD YYYY" formControlName="date" [(ngModel)]="date" name="date" max="{{maxDate}}"> </ion-input>
    </ion-item>
    <br><br>
    

    <ion-item>
      <ion-label>Member</ion-label>
      <ion-select formControlName="member" [(ngModel)]="member" name="member">
        <ion-option *ngFor="let member of members" [value]="member.id">{{member.name}}</ion-option>
      </ion-select>
    </ion-item>
    <br><br>

    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select formControlName="category" [(ngModel)]="category" name="category">
        <ion-option *ngFor="let categorie of categories" [value]="categorie.id">{{categorie.name}}</ion-option>
      </ion-select>
    </ion-item>
    <br><br>

    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea formControlName="description" clearOnEdit="true" [(ngModel)]="description" name="description"></ion-textarea>
    </ion-item>
    <br><br> 

    <ion-grid>
      <ion-row radio-group [(ngModel)]="unnecessary" formControlName="unnecessary">
 
          <ion-col>
            <ion-item>
              <ion-label>Necessary</ion-label>
              <ion-radio [value]="0" ></ion-radio>
            </ion-item>
          </ion-col>
          
          <ion-col>
            <ion-item>
              <ion-label>Unnecessary</ion-label>
             <ion-radio [value]="1"></ion-radio>
            </ion-item>
          </ion-col>

      </ion-row>
    </ion-grid>
      
    <br><br>

    <ion-item>
      <ion-label>Amount Rs. </ion-label> 
      <ion-input formControlName="amount" type="number" [(ngModel)]="amount" name="amount"></ion-input>
    </ion-item>
    <br><br>

    <div text-center>
      <button ion-button (click)="getExpenditures()"  round outline>Get Expenditures </button> 
    </div>
    
    <br>

    <div text-center>

      <ion-grid>

        <ion-row>
            <ion-col>
              <button ion-button (click)="clearInputFields()"  round outline> Clear </button> 
            </ion-col>
    
            <ion-col>
              <button ion-button color="secondary" [disabled]="!expenditureForm.valid" (click)="addExpenditure()" round> Submit </button>
            </ion-col>
        </ion-row>
    
      </ion-grid>
  
    </div>
    

  </div>

</ion-content>
