<!--
  Generated template for the TappedSpendingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Tapped Spending</ion-title>

    <div text-end>
      <ion-label style="font-style: oblique;font-family: fantasy;">  {{today}} </ion-label>
    </div>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <br>
  <div style="font-style: oblique;font-family: fantasy;" *ngIf="selectedSpending" text-center>
    <h4> {{spendingDate}} </h4>
  </div>
  <br>
  <div style="font-style: oblique;font-family: fantasy;" *ngIf="selectedSpending" text-center>
    <h6>Total Spending : Rs. <b [style.color]="selectedSpending.hasSpends ? 'green' : 'black'">{{selectedSpending.spends}}</b> </h6>
  </div>

  

</ion-content>
