<ion-header>
  <ion-navbar>
    <ion-title>Tapped Spending</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-label  text-end style="font-style: oblique;font-family: fantasy; font-size:x-small ;">  {{today}} </ion-label>

  <br>
  <div style="font-style: oblique;font-family: fantasy;" *ngIf="selectedSpending" text-center>
    <h4> {{spendingDate}} </h4>
  </div>
  <br>
  <div style="font-style: oblique;font-family: fantasy;" *ngIf="selectedSpending" text-center>
    <h6>Total Spending : Rs. <b [style.color]="selectedSpending.hasSpends ? 'green' : 'black'">{{selectedSpending.spends}}</b> </h6>
  </div>

  

</ion-content>
