<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> HOME</ion-title>
    <div text-end>
      <ion-label style="font-style: oblique;font-family: fantasy;">  {{today}} </ion-label>
    </div>

  </ion-navbar>
</ion-header>

<ion-content padding>

  <div text-center>
    <ion-title style="font-style:inherit ;font-family: fantasy;">Spendings</ion-title>
  </div>
  
  <br>

  <ion-note>
    Select the month and the year 
  </ion-note>

  <ion-grid>
    <ion-row >

        <ion-col>
          <ion-item>
            <ion-select class="selector" interface="popover" [(ngModel)]="month" name="month" (ionChange)="onMonthYearChange($event)">
              <ion-option class="option" *ngFor="let month of months" [value]="month">{{month}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        
        <ion-col>
          <ion-item>
            <ion-select class="selector" interface="popover" [(ngModel)]="year" name="year" (ionChange)="onMonthYearChange($event)" >
              <ion-option class="option" *ngFor="let year of years" [value]="year">{{year}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>

    </ion-row>
  </ion-grid>
    
  <br>

  <ion-list>

    <ion-list-header>
      <ion-label>
        Tap on Spending Days
      </ion-label>
    </ion-list-header>

    <button style="font-style: oblique;font-family: fantasy;" ion-item *ngFor="let spending of spendings" (click)="spendingTapped($event, spending)">
      
      {{spending.day}} <ion-icon style="color:green;" *ngIf="spending.hasSpends" name="pricetag"></ion-icon>

      <div [style.color]="spending.hasSpends ? 'green' : 'black'" [style.font-weight]="spending.hasSpends ? 'bold' : 'normal'" item-end>
        Rs. {{spending.spends}}
      </div>
    </button>

  </ion-list>
  
</ion-content>
